{% extends 'base.html' %}

{% block head %}
    <title>About</title>
{% endblock %}

{% block body %}
    <br>
    <h1>About</h1>
    <hr>

    <img src="/static/Yash.jpeg" alt="Yash Sanjeev" height=500 width=374>
    <hr>

    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Hello Math Geeks!! My name is Yash Sanjeev, and I am an Electrical Sophomore studying in IIT Bombay. Due to my insatiable hunger for Mathematics, I created this blog to keep a record of all cool mathematical stuff that I find. Readers are also encouraged to contribute, their posts will be featured after inspection. Enjoy this collection of amazing mathematical stuff.</p>
        <hr class="my-4">
        <p>Contact me through my <a href="https://www.facebook.com/yash.sanjeev.12">Facebook</a> or <a href="https://www.instagram.com/yashsanjeev4/?hl=en">Instagram</a>.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/posts" role="button">Check out the Blog Posts</a>
        </p>
      </div>
{% endblock %}