{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1> Home Page </h1>
<hr>

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is my blog, and you can check out cool mathematical stuff here. From olympiads to research, we have something for everyone. Feel free to check stuff out and use the blog material with proper references.</p>
    <hr class="my-4">
    <p>Contact me through my <a href="https://www.facebook.com/yash.sanjeev.12">Facebook</a> or <a href="https://www.instagram.com/yashsanjeev4/?hl=en">Instagram</a>.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/posts" role="button">Check out the Blog Posts</a>
    </p>
  </div>

{% endblock %}